@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base{
  html{
      font-size:10px
  }

  @media screen and (min-width: 640px){
      html{
          font-size:13px
      }
  }

  @font-face{
      font-family: "Roboto";
      font-weight:400;
      src: url("./fonts/roboto/Roboto-Regular.ttf");
  }

  @font-face{
      font-family: "Roboto";
      font-weight:500;
      src: url("./fonts/roboto/Roboto-Medium.ttf");
  }

  @font-face{
      font-family: "Roboto";
      font-weight:700;
      src: url("./fonts/roboto/Roboto-Bold.ttf");
  }

}

@layer base{
    h1{
        @apply text-headline;
        font-weight:800;
        text-transform: capitalize;
        font-family: "Roboto"
    }

    a{
        text-decoration: none;
        display: inline-block;
    }

    h2{
        @apply text-title_bg;
        font-weight:500;
        text-transform:capitalize;
    }

    h3{
        @apply text-title_md;
        font-weight:500;
    }

    h4{
        @apply text-title_sm;
        font-weight:800;
    }
}



